
.sign-in-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sign-in-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;

}