<article>
    <section class="side-bar"></section>
    <section class="main-section">
        <div class="stack center panel">
            <div class="sign-in-banner mat-display-2" >Sign-in</div>
            <div>
                <div class="sign-in-panel">
                    <div>
                        <button mat-fab color="accent">
                            <mat-icon>login</mat-icon>
                        </button>
                    </div>
                    <div>
                        <div class='script-lg'>...using Microsoft account</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="sign-in-panel">
                    <div>
                        <button mat-fab color="accent">
                            <mat-icon>login</mat-icon>
                        </button>
                    </div>
                    <div>
                        <div class='script-lg'>...using Google account</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="sign-in-panel">
                    <div>
                        <button mat-fab color="accent">
                            <mat-icon>login</mat-icon>
                        </button>
                    </div>
                    <div>
                        <div class='script-lg'>...using Facebook account</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside></aside>
</article>