<div class="row">
    <section class="spacer"></section>
    <section class="panel">
        <div class="colcc rowi">
            <div class="coli mat-display-2">Sign-in</div>
            <div class="coli colcc panel">
                <button mat-fab color="accent">
                    <mat-icon>login</mat-icon>
                </button>
                <div>
                    <div class='script-lg'>...using Microsoft account</div>
                </div>
            </div>
            <div class="coli colcc panel">
                <div>
                    <button mat-fab color="accent">
                        <mat-icon>login</mat-icon>
                    </button>
                </div>
                <div>
                    <div class='script-lg'>...using Google account</div>
                </div>
            </div>
            <div class="coli colcc panel">
                <button mat-fab color="accent">
                    <mat-icon>login</mat-icon>
                </button>
                <div>
                    <div class='script-lg'>...using Facebook account</div>
                </div>
            </div>
        </div>
    </section>
    <section class="spacer"></section>
</div>

