// p {
//   font-family: "Coda";
// }
.mat-toolbar {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  font-family: "Coda";
  letter-spacing: -0.05em;
  color:#1b0f51;
}

.app-main-panel {
  padding: 8px;
  height: 100%;
}

.mat-button{
  font-family: "Coda";
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
}

