@use "@angular/material" as mat;

@import "~@angular/material/theming";
@import "./eggplant-palette.scss";

@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@include mat.core();

body {
    font-family: 'Coda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Eagle Lake', cursive;
    font-family: 'Bree Serif', serif;
  }
// $custom-typography: mat-typography-config(
//   $font-family: 'MuseoModerno'
// );
// @include mat-core($custom-typography);

//\\ Topography
//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
$eggplant-typography-config: mat.define-typography-config(
    $font-family: 'Bree Serif',
    $display-4: mat.define-typography-level(
        $font-size: 112px,
        $line-height: 112px,
        $font-weight: 300,
        $font-family: "Bree Serif",
        $letter-spacing: -0.05em,
    ),
    $display-3: mat.define-typography-level(
            $font-size: 56px,
            $line-height: 56px,
            $font-weight: 400,
            $font-family: "Bree Serif",
            $letter-spacing: -0.02em,
        ),
    $display-2: mat.define-typography-level(
            $font-size: 45px,
            $line-height: 48px,
            $font-weight: 400,
            $font-family: "Bree Serif",
            $letter-spacing: -0.005em,
        ),
    $display-1: mat.define-typography-level(
            $font-size: 38px,
            $line-height: 40px,
            $font-weight: 400,
            $font-family: "Bree Serif",
        ),
    $headline: mat.define-typography-level(
            $font-size: 24px,
            $line-height: 32px,
            $font-weight: 400,
            $font-family: "Bree Serif",
        ),
    $title: mat.define-typography-level(
            $font-size: 20px,
            $line-height: 32px,
            $font-weight: 500,
            $font-family: "Bree Serif",
        ),
    $subheading-2: mat.define-typography-level(
            $font-size: 16px,
            $line-height: 28px,
            $font-weight: 400,
            $font-family: "Bree Serif",
        ),
    $subheading-1: mat.define-typography-level(
            $font-size: 15px,
            $line-height: 24px,
            $font-weight: 400,
            $font-family: "Bree Serif",
        ),
    $body-1: mat.define-typography-level(
            $font-size: 14px,
            $line-height: 20px,
            $font-weight: 400,
            $font-family: "Courgette",
        ),
    $body-2: mat.define-typography-level(
            $font-size: 14px,
            $line-height: 24px,
            $font-weight: 500,
            $font-family: "Courgette",
        ),
    $caption: mat.define-typography-level(
            $font-size: 12px,
            $line-height: 20px,
            $font-weight: 400,
            $font-family: "Courgette",
        ),
    $button: mat.define-typography-level(
            $font-size: 14px,
            $line-height: 14px,
            $font-weight: 500,
            $font-family: "Coda",
        ),  
    $input: mat-typography-level(inherit, 1.125, 400),
);

@include mat.core( $eggplant-typography-config);
@include mat-toolbar-typography($eggplant-typography-config);

$eggplant-light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette($mat-royal-purple, 500),
            accent: mat.define-palette($mat-pear-green, 200, 100, 400),
            warn: mat.define-palette($mat-bright-amber, 500),
        ),

    )
);

$eggplant-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette($mat-deep-purple, A400),
            accent: mat.define-palette($mat-pear-green, 200, 100, 400),
            warn: mat.define-palette($mat-bright-amber, 500),
            
        ),

    )
);

@include mat.all-component-colors($eggplant-light-theme);



// Emit theme-dependent styles for common features used across multiple components.
//@include mat.core-theme($eggplant-dark-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
//@include mat.button-theme($eggplant-dark-theme);

.dark-mode {
    @include mat.all-component-colors($eggplant-dark-theme);
}
