@use "@angular/material" as mat;
@import "~@angular/material/theming";
@import "./eggplant-palette.scss";

@include mat.core();

body {
    font-family: 'Coda', cursive;
    font-family: 'MuseoModerno', cursive;
    font-family: 'Share',cursive;
  }
// $custom-typography: mat-typography-config(
//   $font-family: 'MuseoModerno'
// );
// @include mat-core($custom-typography);

//\\ Topography
//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
$eggplant-typography-config: mat.define-typography-config(
    $font-family: "Coda, cursive",
    $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $display-1: mat-typography-level(34px, 40px, 400),
    $headline: mat-typography-level(24px, 32px, 400),
    $title: mat-typography-level(20px, 32px, 500),
    $subheading-2: mat-typography-level(16px, 28px, 400),
    $subheading-1: mat-typography-level(15px, 24px, 400),
    $body-2: mat-typography-level(14px, 24px, 500),
    $body-1: mat-typography-level(14px, 20px, 400),
    $caption: mat-typography-level(12px, 20px, 400),
    $button: mat-typography-level(14px, 14px, 500),
    $input: mat-typography-level(inherit, 1.125, 400)
);

@include mat.core( $eggplant-typography-config);

$eggplant-light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette($eggplant-primary-palette, 500),
            accent: mat.define-palette($eggplant-accent-palette, 200, 100, 400),
            warn: mat.define-palette($eggplant-warn-palette, 500),
        ),

    )
);

$eggplant-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette($eggplant-accent-palette, 500),
            accent: mat.define-palette($eggplant-primary-palette, A200, A100, A400),
            warn: mat.define-palette($eggplant-warn-palette, 500),
        ),

    )
);

@include mat.all-component-colors($eggplant-light-theme);

// Emit theme-dependent styles for common features used across multiple components.
//@include mat.core-theme($eggplant-dark-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
//@include mat.button-theme($eggplant-dark-theme);

.dark-mode {
    @include mat.all-component-colors($eggplant-dark-theme);
}
