//@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';



body {
  margin: 0;
  font-family: 'Coda', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Share', cursive;
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0.5em;
  }
}

.row {
  display: flex;

  .mat-form-field, .ngx-datatable{
    // margin: .25em;
    // border: 2px 2px 2px 2px;
    // border-color: black;
    // border-style: solid;
    flex-grow: 1;
  }
}

.row-center-content {
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.gutters {
  flex: 1 ;
  padding: 0em 0.5em;
  width: 100%;
}

.mat-button{
  font-family: "Coda";
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
}