//@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "./eggplant-palette.scss";
@import '~@angular/material/theming';
@import './eggplant-palette.scss';

// Copy the palettes from your selected theme (usually theme.scss).
$app-royal-purple-palette: mat-palette($mat-royal-purple);
$app-pear-green-palette:  mat-palette($mat-pear-green);
$app-warn-palette:    mat-palette($mat-bright-amber);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-royal-purple-palette, 900);
$accent: mat-color($app-pear-green-palette);
$warn: mat-color($app-warn-palette);



body {
  margin: 0;
}

article{
  display:flex;

  section, aside {
    flex-grow: 1;
    
    .spacer {
      flex: 1 1 auto;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0.5em;
  }
}

.row {
  display: flex;

  >div {
    flex-grow: 1;
    margin: 0.5em;
  }
}

.column-item,.coli{
  flex-grow: 1;
  margin: 1em;
}

.stack {
  display: flex;
  flex-direction: column;
  .center{
  justify-content: center;
  align-items: center;
  }

  >div {
    flex-grow: 1;
    margin: 0.5em;
  }
}

.fh{
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.gutters {
  flex: 1 ;
  padding: 0em 0.5em;
  width: 100%;
}

.panel{
  background-color: #3b3b3b;
border-radius: 0.5em;
}



.script-lg,.mat-dialog-content{
  font-family: "Corben";
  font-size: 18px;
  font-weight: 50;

  margin:0.75em;
}

.fullscreen-dialog {
  max-width: 100% !important;
}




